:root {
  --primary-color: #e4dddc; /* light grey */
  --secondary-color: #6d6d72; /* medium grey */
  --accent-color: #352208; /* brown */
  --highlight-color: #5c9ead; /* blue */
  --background-color: #f8f4f1; /* bg colour off white */
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--accent-color);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

header {
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: auto;
  width: 70vw;
  padding-top: 3vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 6vw;
  width: inherit;
  background-color: var(--highlight-color);
  border-radius: 4vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: var(--accent-color);
}

form {
  width: inherit;
  background-color: var(--highlight-color);
  border-radius: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5vh;
}
form p {
  color: var(--accent-color);
}

form input {
  width: 70%;
  margin: 0.5vh;
}

form button {
  width: 30%;
  background-color: var(--secondary-color);
  margin: 0.5vh;
  border-radius: 2vh;
  border: transparent;
  padding: 1vh;
}

form button:hover {
  cursor: pointer;
  background-color: var(--highlight-color);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--primary-color);
}

@media (min-width: 800px) {
  main {
    width: 560px;
    padding-top: 20px;
  }
  h2 {
    font-size: 48px;
  }
}
