/* Site colour scheme */
:root {
  --primary-color: #e4dddc; /* light grey */
  --secondary-color: #6d6d72; /* medium grey */
  --accent-color: #352208; /* brown */
  --highlight-color: #5c9ead; /* blue */
  --background-color: #f8f4f1; /* bg colour off white */
}
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  background-color: var(--background-color);
  color: var(--accent-color);
}

/* Site header */
header {
  width: 100%;
  z-index: 1000;
  height: 13vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  color: var(--accent-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3vw;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex: 1;
}

nav ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--highlight-color);
}

main {
  height: 113vh;
  text-align: center;
}

/* Main container for task display */
.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.task-container label {
  padding: 5px 0px;
}

.task-titlecard,
.task-detailcard {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--accent-color);
  margin: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
}

.task-titlecard div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
}

/* style individual labels and inputs */
.task-titlecard select {
  min-width: 30vw;
}

.task-name {
  align-items: center;
}

.task-titlecard input {
  text-align: center;
  padding: 2px 0px;
  width: 50vw;
}

.task-titlecard input,
select {
  margin-bottom: 5px;
}

.task-status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-status select {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  padding: 0px 10px;
  text-align: center;
}

.task-priority {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-priority select {
  margin-left: 10px;
  padding: 0px 10px;
  text-align: center;
}

.task-detailcard div {
  display: flex;
  flex-direction: column;
}

.task-detailcard #assignee {
  text-align: center;
}

.task-detailcard textarea {
  width: 70vw;
}

.task-due input {
  min-width: 30vw;
}

/* Style user action buttons */
#task-buttons {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

#task-buttons button {
  background-color: #5c9ead;
  border: 1px solid #e4dddc;
  color: #f8f4f1;
  font-family: monospace;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
}

#task-buttons button:hover {
  background-color: #e4dddc;
  border: 1px solid #352208;
  color: #352208;
}

footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

footer a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}

footer a:hover {
  color: var(--highlight-color);
}

@media (min-width: 850px) {
  #task-buttons button {
    background-color: #5c9ead;
    border: 1px solid #e4dddc;
    color: #f8f4f1;
    font-family: monospace;
    font-size: 24px;
    border-radius: 5px;
    padding: 10px;
  }
}
