:root {
  --primary-color: #e4dddc; /* light grey */
  --secondary-color: #6d6d72; /* medium grey */
  --accent-color: #352208; /* brown */
  --highlight-color: #5c9ead; /* blue */
  --background-color: #f8f4f1; /* bg colour off white */
}

* {
  box-sizing: border-box;
}

#task-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--accent-color);
  margin: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: monospace;
}

header {
  position: relative;
  height: 13vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  color: var(--accent-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3vw;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex: 1;
}

nav ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--highlight-color);
}

#signout {
  position: absolute;
  bottom: 4px;
  left: 1vw;
  background-color: var(--highlight-color);
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
#membersBtn {
  position: absolute;
  bottom: 4px;
  right: 1vw;
  background-color: var(--highlight-color);
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
#membersBtn:hover {
  background-color: var(--secondary-color);
}

#membersDiv {
  background-color: var(--primary-color);
  padding: 1rem;
  margin-top: 1.5rem;
  margin-right: 20px;
  border-radius: 5px;
  position: fixed;
  right: 0;
  top: 100px;
  width: 300px;
  height: auto;
}

#membersP {
  color: var(--accent-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.memberName {
  color: rgb(117, 215, 150);
  padding: 0.5rem 0;
  font-size: 1rem;
}

main {
  width: 66.66vw;
  margin: auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

form h1 {
  margin: 0;
}
input,
select,
button {
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

button#submit {
  background-color: var(--highlight-color);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button#submit:hover {
  background-color: var(--secondary-color);
}

footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

#returned-container {
  color: white;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
}
#returned-container p {
  font-size: 5vw;
  margin: 0;
  padding-bottom: 1vh;
}

#returned-container a {
  color: rgb(117, 215, 150);
  text-decoration: none;
  padding: 0.5vh;
  font-size: 4vw;
}

#ToDo {
  background-color: var(--highlight-color);
}
#Doing {
  background-color: var(--secondary-color);
}

#Done {
  background-color: var(--accent-color);
}

#ToDo,
#Doing,
#Done {
  border-radius: 5px;
  font-weight: bold;
  min-height: 45px;
  display: flex;
  flex-direction: column;
  margin: 2vh;
  padding: 2vh;
}

#toggleActive {
  position: fixed;
  bottom: 11.25vh;
  left: 1.25vh;
  background-image: url("./plus.webp");
  width: 50px;
  height: 50px;
  background-color: var(--highlight-color);
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 40px;
}

#toggleActive:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.notActive *,
.notActive {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  gap: 0;
}

@media (min-width: 800px) {
  main {
    width: 540px;
  }
  #returned-container p {
    font-size: 40px;
  }
  #returned-container a {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  #membersDiv {
    top: 70px;
    right: 5px;
    width: 90vw;
    max-width: none;
  }
}
