:root {
  --primary-color: #e4dddc; /* light grey */
  --secondary-color: #6d6d72; /* medium grey */
  --accent-color: #352208; /* brown */
  --highlight-color: #5c9ead; /* blue */
  --background-color: #f8f4f1; /* bg colour off white */
}

* {
  box-sizing: border-box;
}

#task-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  width: 30vw;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: monospace;
}

header {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  color: var(--accent-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 3vw;
  margin: 0;
  justify-content: center;
  flex: 1;
}

nav ul li a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 2.25vw;
}

nav ul li a:hover {
  color: var(--highlight-color);
}

#membersBtn {
  background-color: var(--highlight-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  margin-left: auto;
}
#membersBtn:hover {
  background-color: var(--secondary-color);
}

#membersDiv {
  background-color: var(--primary-color);
  padding: 1rem;
  margin-top: 1.5rem;
  margin-right: 20px;
  border-radius: 5px;
  position: fixed;
  right: 0;
  top: 100px;
  width: 300px;
  height: auto;
}

#membersP {
  color: var(--accent-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.memberName {
  color: var(--secondary-color);
  padding: 0.5rem 0;
}

main {
  width: 66.66vw;
  margin: auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  margin: 2rem auto;
}

input,
select,
button {
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

button#submit {
  background-color: var(--highlight-color);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button#submit:hover {
  background-color: var(--secondary-color);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--primary-color);
}

#returned-container {
  color: white;
  gap: 0rem;
  width: 100%;
  margin: 2rem auto;
  padding: 2px;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: bold;
}
#returned-container p {
  font-size: 4vw;
  margin: 0;
  padding-bottom: 1vh;
}

#returned-container a {
  color: rgb(117, 215, 150);
  text-decoration: none;
  padding: 0.5vh;
  font-size: 2vh;
}

#ToDo {
  background-color: var(--highlight-color);
}
#Doing {
  background-color: var(--secondary-color);
}

#Done {
  background-color: var(--accent-color);
}

#ToDo,
#Doing,
#Done {
  border-radius: 5px;
  font-weight: bold;
  min-height: 45px;
  display: flex;
  flex-direction: column;
  margin: 2vh;
  padding: 2vh;
}

@media (min-width: 800px) {
  main {
    width: 540px;
  }
}
